body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.box {
  width: 14.28%;
}

.event-title-container {
  display: flex;
}
.main-header-container {
  background-color: blueviolet;
}
.main-title {
  color: white;
  font-size: 100px;
}
.calendar-title-container {
  display: flex;
}